html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.margin-bottom50 {
    margin-bottom: 50px;
}

.links {
    display: inline-block;
    padding: 24px 49px;
}

/* div.main-content a:not(:last-of-type) {
    color: red;
} */

.margin-bottom50 a {
    /* color: red; */
    margin-bottom: 25px;
}